@import 'normalize';
@import 'mixins';

* {
	box-sizing: border-box;
}
body {
	background: #3cc7cc;
	height: 100vh;
	width: 100vw;
	font-family: 'Open Sans';
	display: flex;
	justify-content: center;
}
.holder{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 520px;
	height: 520px;
}
.outer-circle{
	position: absolute;
	border-radius: 50%;
	border: 4px dashed white;
	background: transparent;
	width: 500px;
	height: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.circle{
	width: 480px;
	height: 480px;
	background: white;
	border-radius: 50%;
	position: absolute;
	z-index: -6;
}
.headline{
	font: 75px Oswald;
	position: absolute;
	top: 27%;
	left: 40%;
	transform: translate(-50%, -50%);
	width: 365px;
	display: flex;
	justify-content: space-between;
	color: #3cc7cc;
	z-index: 1;
	pointer-events: none;
	span{
		display: inline-block;
	}
}

.wrapper{
	height: 500px;
	position: relative;
}
.microphone{
	position: relative;
	top: 21%;
	left: 50%;
	margin-left: -.5*110px;
	width: 110px;
	height: 190px;
	background-image: repeating-linear-gradient(to right, #777779, #dedfe3 32%, #f4f4f6 42%, #f4f4f6 58%, #929491 100%);
	border-bottom-left-radius: 12px 39px;
	border-bottom-right-radius: 12px 39px;
	.head{
		position: absolute;
		top: -50px;
		left: 50%;
		margin: -.5*100px; 
		width: 100px;
		height: 90px;
		border-top-left-radius: 65px 80px;
		border-top-right-radius: 65px 80px;
		background: linear-gradient(45deg, #bcbdbc 10%, transparent 0%, transparent 90%, #d8dcdd 0%), linear-gradient(135deg, transparent 40%, #8c8d91 0%, #f4f4f6 60%, transparent 0%), linear-gradient(45deg, transparent 40%, #ECE7E5 0%, #9c9d9b 60%, transparent 0%) #6D6875;
		background-size: .3em .3em;
		box-shadow: inset -0.2em 0 0 0 rgba(109, 104, 117, 0.3), inset 0.25em 0 0 0 rgba(236, 231, 229, 0.5);
	}
	.ring{
		position: absolute;
		top: -15px;
		left: 50%;
		width: 115px;
		height: 15px;
		background-image: repeating-linear-gradient(to top, #929191, #f7f6f2 40%, #f7f6f2 50%, #f7f6f2 69%, #929191 100%);
		box-shadow:  inset 3px 0 3px rgba(0,0,0,.25), inset -2px 0 3px rgba(0,0,0,.25);
		border-radius: 45px 45px 10px 10px / 60px 60px 10px 10px ;
		margin-left: -.5*115px;
	}
	&:before, &:after{
		content: '';
		z-index: 1;
		position: absolute;
		width: 0;
		height: 10px;
		background: transparent;
		top: -15px;
		left: 30%;
		box-shadow:  3px 1px 14px 4px rgba(255,255,255,1);
	}
	&:after{
		box-shadow:  30px 1px 14px 4px rgba(255,255,255,1);
	}
	.mute-btn{
		cursor: pointer; 
		width: 10px;
		height: 10px;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		top: 40%;
		margin-left: -.5*10px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: repeating-linear-gradient(to top, #e4e4e4, #e1e2e6 100%);
		box-shadow: 0 0 0 0.5px #c0c1c3, 0 -.5px 0 .5px white, 0 0 0 1.5px #a2a3a7, 0 0 0 2px #222223;
		.text-mute{
			font: bold 5px "Open Sans";
			display: inline-block;
			line-height: 3px; 
			position: absolute;
			left: 50%;
			top: -80%;
			color: #313236;
			transform: translateX(-50%);
		}
		.led{
			width: 4px;
			height: 4px;
			background: #9d1a18;
			border-radius: 50%;
			box-shadow: 0 0 0 .5px #f1a6ae, 0 0 0 1px #b29699;
		}
	}
	.mute-btn.muted .led{
		background-color: #ff6873;
		box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.75) inset, 0 0 2px 0 rgba(0, 0, 0, 0.75), 0 0 13px 1px rgba(255, 0, 0, 0.75);
	}
	.volume-knob{
		cursor: pointer;
		width: 27px;
		height: 27px;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		top: 54%;
		margin-left: -.5*27px;
		background: black;
		display: flex;
		align-items: center;
		justify-content: center;
		&:after{
			content: '';
			position: absolute;
			width: 2px;
			height: 3px;
			left: 50%;
			top: 2px;
			transform: translateX(-50%);
			background: #edeef0;
			box-shadow: 0 0 1px .5px #808487;
			border-radius: .5px;
		}
		.knob-inner1, .knob-inner2{
			border-radius: 50%;
			background: #cccdd1;
		}
		.knob-inner1{
			width: 26px;
			height: 26px;
			border: 1px dotted #222;
		}
		.knob-inner2{
			width: 18px;
			height: 18px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			box-shadow: 0 -.5px 0 .5px white, 0 0 0 2px #808487, 0 0 0 1.5px #858585;
		}
	}
	.volume-label{
		display: inline-block;
		line-height: 3px; 
		position: absolute;
		left: 50%;
		bottom: 28%;
		font-size: 5px;
		font-weight: bold;
		color: #313236;
		transform: translateX(-50%);
	}
	.btm_ring1, .btm_ring2{
		position: absolute;
		border-radius: 1px;
		left: 50%;
	}
	.btm_ring1{
		width: 85px;
		height: 5px;
		background-image: repeating-linear-gradient(to right, #919294, #dedfe3 32%, #f4f4f6 42%, #f4f4f6 58%, #929491 100%);
		bottom: -5px;
		margin-left: -.5*85px;
	}
	.btm_ring2{
		width: 40px;
		height: 12px;
		background-image: repeating-linear-gradient(to right, #929191, #eaeaea 32%, #f7f6f2 42%, #f7f6f2 58%, #929191 100%);
		bottom: -17px;
		margin-left: -.5*40px;
	}
	.rpad, .lpad{
		width: 6px;
		height: 30px;
		background-image: repeating-linear-gradient(to top, #929191, #eaeaea 32%, #f7f6f2 42%, #f7f6f2 58%, #929191 100%);
		position: absolute;
		top: 54%;
		right: -4px;
		border-top-left-radius: 2px 13px;
		border-bottom-left-radius: 2px 13px;
		.arm{
			width: 7px;
			height: 138px;
			background-image: repeating-linear-gradient(to right, #929191, #a9a8a8 32%, #dcdbd8 42%, #f7f6f2 58%, #929191 100%);
			position: absolute;
			top: -30%;
			right: -6px;
			border-radius: 2px;
		}
		.nut{
			width: 14px;
			height: 37px;
			background-image: repeating-linear-gradient(to top, #929191, #eaeaea 6%);
			position: absolute;
			top: -11%;
			right: -21px;
			border-radius: 2px;
			&:before, &:after{
				content: '';
				position: absolute;
    			z-index: -1;
			}
			&:before{
				left: 0;
				top: 50%;
				width: 2px;
				height: 20px;
				box-shadow: -1px -10px 3px 0 black;
			}
			&:after{
				left: 7px;
				top: 9%;
				width: 10px;
				height: 30px;
				background: #a2a29f;
    			border-top-right-radius: 20px 50px;
    			border-bottom-right-radius: 20px 50px;
			}
		}
	}
	.lpad{
		top: 54%;
		left: -4px;
		transform: rotateY(180deg);
	}
	.rack{
		width: 122px;
		height: 153px;
		background: #585A59;
		background-image: repeating-linear-gradient(to right, #585A59, #bfbcbc 32%, #d2d2d1 42%, #bfbfbc 58%, #585A59 100%);
		position: absolute;
		bottom: -141px;
		left: 50%;
		margin-left: -.5*122px;
		z-index: -3;
	}
	.lmask, .rmask{
		width: 36px;
		height: 25px;
		background: white;
		position: absolute;
		bottom: -65px;
		left: -8px;
		z-index: -1;
		border-top-right-radius: 75px 100px; 
		border-bottom-right-radius: 61px 47px; 
	}
	.lmask2, .rmask2{
		position: absolute;
		width: 36px;
		height: 84px;
		bottom: -148px;
		left: -6px;
		background: white;
	}
	.rmask{
		left: 76%;
		transform: rotateY(180deg);
	}
	.rmask2{
		left: 76%;
	}
	.lleg, .rleg{
		width: 30px;
		height: 40px;
		background-image: repeating-linear-gradient(to right, #6b6c6b,  #b7b4b4 100%);
		position: absolute;
		bottom:  -103px;
		border-top-left-radius: 41px 58px;
		&:after{
			content: '';
			position: absolute;
			width: 0;
			height: 74px;
			background: transparent;
			top: -17px;
			box-shadow:  2px 34px 3px 1px rgba(255,255,255,1);
			z-index: 3;
		} 
	}
	.lleg2, .rleg2{
		position: absolute;
		width: 30px;
		height: 53px;
		bottom: -52px;
		background-image: repeating-linear-gradient(to right, #6b6c6b,  #b7b4b4 100%);
	}
	.rleg{
		left: 76%;
		transform: rotateY(180deg);
		background-image: repeating-linear-gradient(to right, #636564, #979896 100%);
	}
	.rleg2{
		background-image: repeating-linear-gradient(to right, #636564, #979896 100%);
	}
	.mask3{
		width: 60px;
		height: 60px;
		position: absolute;
		bottom: -155px;
		left: 50%;
		margin-left: -.5*60px;
		background: white;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		box-shadow: 0 -4px 1px 2px #9b9c9a, 0 -7px 3px 0 white,  inset 0 -8px 0 0 #a8aaa7 ;
	}
	.mask4{
		width: 60px;
		height: 4px;
		position: absolute;
		bottom: -150px;
		left: 50%;
		margin-left: -.5*60px;
		background: #a8aaa7;
		border-radius: 50%;
	}
	.stand{
		width: 140px;
		height: 12px;
		position: absolute;
		left: 50%;
		border-radius: 50%;
		margin-left: -.5*140px;
		background: #a8aaa7;
		bottom: -160px;
		z-index: -1;
		box-shadow: inset 0 3px 0 -3px #716e6e, 0 1px 0 3px #9b9c9a;
	}
	.stand-dn{
		width: 146px;
		height: 18px;
		position: absolute;
		bottom: -173px;
		border-radius: 2%;
		left: 52%;
		margin-left: -.5*150px;
		background-image: repeating-linear-gradient(to right, #777779, #dedfe3 32%, #f4f4f6 42%, #c6c7c9 58%, #929491 100%);
		z-index: -3;
	}
	.stand-dn2{
		width: 146px;
		height: 8px;
		position: absolute;
		bottom: -179px;
		border-bottom-right-radius: 150px 50px;
		border-bottom-left-radius: 150px 50px;
		left: 52%;
		margin-left: -.5*150px;
		background-image: repeating-linear-gradient(to right, #777779, #dedfe3 32%, #f4f4f6 42%, #c6c7c9 58%, #929491 100%);
		z-index: -3;
		&:after{
			position: absolute;
			left: 50%;
			margin-left: -.5*130px;
			bottom: 5px;
			content: '';
			width: 130px;
			height: 3px;
			box-shadow: 0 14px 9px 0 #8a8a89;
			border-radius: 50%;
		}
	}
	.stand-ring, .stand-mid, .stand-btm{
		width: 190px;
		position: absolute;
		left: 50%;
		margin-left: -.5*190px;
	} 
	.stand-ring{
		height: 22px;
		bottom: -189px;
		border-radius: 50%;
		background-image: repeating-linear-gradient(to right, #a5a5a5, #bfbcbc 32%, #d2d2d1 42%, #bfbfbc 58%, #979994  100%);
		z-index: -4;
	}
	.stand-mid{
		height: 11px;
		bottom: -189px;
		background-image: repeating-linear-gradient(to right, #777779, #dedfe3 32%, #f4f4f6 42%, #c6c7c9 58%, #929491 100%);
		z-index: -5;
	}
	.stand-btm{
		height: 11px;
		bottom: -200px;
		background-image: repeating-linear-gradient(to right, #777779, #dedfe3 32%, #f4f4f6 42%, #c6c7c9 58%, #929491 100%);
		border-bottom-right-radius: 100px 25px;
		border-bottom-left-radius: 100px 25px;
		box-shadow: 0 4px 3px -3px #3f3f3d;
	}
}
