@import 'normalize';
@import 'mixins';

* {
	box-sizing: border-box;
}
body {
	// background: linear-gradient(51deg, #31e479, #4ec3ff) no-repeat;
	background-size: cover;
	height: 100vh;
	font-family: 'Open Sans';
}

.microphone{
	position: relative;
	width: 110px;
	height: 190px;
	// background-color: #C6C7C6;
	// background-image: repeating-linear-gradient(to right, #929191, #f7f6f2 32%, #f7f6f2 42%, #f7f6f2 58%, #929191 100%);
	background-image: repeating-linear-gradient(to right, #777779, #dedfe3 32%, #f4f4f6 42%, #f4f4f6 58%, #929491 100%);
	margin: 108px auto;
	border-bottom-left-radius: 12px 39px;
	border-bottom-right-radius: 12px 39px;
	.head{
		position: absolute;
		top: -50px;
		left: 50%;
		margin: -.5*100px; 
		width: 100px;
		height: 90px;
		border-radius: 50% 50% 0 0;
		background: linear-gradient(45deg, #ECE7E5 10%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 90%, #ECE7E5 0%), linear-gradient(135deg, rgba(0, 0, 0, 0) 40%, #D2CFCC 0%, #D2CFCC 60%, rgba(0, 0, 0, 0) 0%), linear-gradient(45deg, rgba(0, 0, 0, 0) 40%, #ECE7E5 0%, #ECE7E5 60%, rgba(0, 0, 0, 0) 0%) #6D6875;
		background-size: .5em .5em;
		box-shadow: inset -0.2em 0 0 0 rgba(109, 104, 117, 0.3), inset 0.25em 0 0 0 rgba(236, 231, 229, 0.5);

	}
	.ring{
		position: absolute;
		top: -15px;
		left: 50%;
		width: 115px;
		height: 15px;
		background-image: repeating-linear-gradient(to top, #929191, #f7f6f2 40%, #f7f6f2 50%, #f7f6f2 69%, #929191 100%);
		box-shadow:  inset 3px 0px 3px rgba(0,0,0,.25), inset -2px 0px 3px rgba(0,0,0,.25);
		border-radius: 45px 45px 10px 10px / 60px 60px 10px 10px ;
		margin-left: -.5*115px;
		.shadow_1{
			height: 1px;
			width: 6px;
			box-shadow: 50px 2px 1px 0px black;
		}
		.shadow_2{
			height: 1px;
			width: 6px;
			box-shadow: 50px 11px 1px 0px black;
		}
		.shadow_3{
			height: 1px;
			width: 9px;
			box-shadow: 7px 10px 2px 0px black;
		}
		.shadow_4{
			height: 1px;
			width: 9px;
			box-shadow: 10px 0px 2px 0px black;
		}
		.shadow_5{
			height: 1px;
			width: 9px;
			box-shadow: 97px -1px 2px 0px black;
		}
		.shadow_6{
			height: 1px;
			width: 9px;
			box-shadow: 99px 7px 2px 0px black;
		}
	}
	&:after{
		content: '';
		position: absolute;
		width: 0px;
		height: 10px;
		background: transparent;
		top: -15px;
		left: 30%;
		box-shadow:  30px 1px 14px 4px rgba(255,255,255,1);
	}
	&:before{
		content: '';
		z-index: 1;
		position: absolute;
		width: 0px;
		height: 10px;
		background: transparent;
		top: -15px;
		left: 30%;
		box-shadow:  3px 1px 14px 4px rgba(255,255,255,1),
	}
	.btm_ring1{
		width: 85px;
		height: 5px;
		// background-image: repeating-linear-gradient(to right, #929191, #eaeaea 32%, #f7f6f2 42%, #f7f6f2 58%, #929191 100%);
		background-image: repeating-linear-gradient(to right, #919294, #dedfe3 32%, #f4f4f6 42%, #f4f4f6 58%, #929491 100%);
		position: absolute;
		bottom: -5px;
		left: 50%;
		margin-left: -.5*85px;
		border-radius: 1px;
	}
	.btm_ring2{
		width: 40px;
		height: 12px;
		background-image: repeating-linear-gradient(to right, #929191, #eaeaea 32%, #f7f6f2 42%, #f7f6f2 58%, #929191 100%);
		position: absolute;
		bottom: -17px;
		left: 50%;
		margin-left: -.5*40px;
		border-radius: 1px;
	}
	.rpad, .lpad{
		width: 6px;
		height: 30px;
		background-image: repeating-linear-gradient(to top, #929191, #eaeaea 32%, #f7f6f2 42%, #f7f6f2 58%, #929191 100%);
		position: absolute;
		top: 54%;
		right: -4px;
		border-top-left-radius: 2px 13px;
		border-bottom-left-radius: 2px 13px;
		.arm{
			width: 7px;
			height: 137px;
			background-image: repeating-linear-gradient(to right, #929191, #eaeaea 32%, #f7f6f2 42%, #f7f6f2 58%, #929191 100%);
			position: absolute;
			top: -30%;
			right: -6px;
			border-radius: 2px;
		}
		.nut{
			width: 14px;
			height: 37px;
			background-image: repeating-linear-gradient(to top, #929191, #eaeaea 6%);
			position: absolute;
			top: -11%;
			right: -21px;
			border-radius: 2px;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				width: 2px;
				height: 20px;
				box-shadow: -1px -10px 3px 0px black;
    			z-index: -1;
			}
			&:after{
				content: '';
				position: absolute;
				left: 7px;
				top: 9%;
				width: 10px;
				height: 30px;
				background: #a2a29f;
    			z-index: -1;
    			border-top-right-radius: 20px 50px;
    			border-bottom-right-radius: 20px 50px;
			}
		}
	}
	.lpad{
		top: 54%;
		left: -4px;
		transform: rotateY(180deg);
	}
	.rack{
		width: 122px;
		height: 153px;
		background: #585A59;
		background-image: repeating-linear-gradient(to right, #585A59, #bfbcbc 32%, #d2d2d1 42%, #bfbfbc 58%, #585A59 100%);
		position: absolute;
		bottom: -141px;
		left: 50%;
		margin-left: -.5*122px;
		z-index: -3;
	}
	.lmask, .rmask{
		width: 36px;
		height: 25px;
		background: white;
		position: absolute;
		bottom: -65px;
		left: -8px;
		z-index: -1;
		border-top-right-radius: 75px 100px; 
		border-bottom-right-radius: 61px 47px; 
	}
	.lmask2, .rmask2{
		position: absolute;
		width: 36px;
		height: 84px;
		bottom: -148px;
		left: -6px;
		background: white;
	}
	.rmask{
		left: 76%;
		transform: rotateY(180deg);
	}
	.rmask2{
		left: 76%;
	}
	.lleg, .rleg{
		width: 30px;
		height: 40px;
		background-image: repeating-linear-gradient(to right, #6b6c6b,  #b7b4b4 100%);
		position: absolute;
		bottom:  -103px;
		border-top-left-radius: 41px 58px;
		&:after{
			content: '';
			position: absolute;
			width: 0px;
			height: 74px;
			background: transparent;
			top: -17px;
			box-shadow:  2px 34px 3px 1px rgba(255,255,255,1);
			z-index: 3;
		} 
	}
	.lleg2, .rleg2{
		position: absolute;
		width: 30px;
		height: 53px;
		bottom: -52px;
		background-image: repeating-linear-gradient(to right, #6b6c6b,  #b7b4b4 100%);
	}
	.rleg{
		left: 76%;
		transform: rotateY(180deg);
		background-image: repeating-linear-gradient(to right, #636564, #979896 100%);
	}
	.rleg2{
		background-image: repeating-linear-gradient(to right, #636564, #979896 100%);
	}
	.mask3{
		width: 60px;
		height: 60px;
		position: absolute;
		bottom: -155px;
		left: 50%;
		margin-left: -.5*60px;
		background: white;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		box-shadow: 0px -4px 1px 2px #9b9c9a, 0px -7px 3px 0px white,  inset 0px -8px 0px 0px #a8aaa7 ;
	}
	.mask4{
		width: 60px;
		height: 4px;
		position: absolute;
		bottom: -150px;
		left: 50%;
		margin-left: -.5*60px;
		background: #a8aaa7;
		border-radius: 50%;
	}
	.stand{
		width: 140px;
		height: 12px;
		position: absolute;
		left: 50%;
		border-radius: 50%;
		margin-left: -.5*140px;
		background: #a8aaa7;
		bottom: -160px;
		z-index: -1;
		box-shadow: inset 0px 3px 0px -3px #716e6e, 0px 1px 0px 3px #9b9c9a;
	}
	.stand-dn{
		width: 146px;
		height: 18px;
		position: absolute;
		bottom: -173px;
		border-radius: 2%;
		left: 52%;
		margin-left: -.5*150px;
		background-image: repeating-linear-gradient(to right, #777779, #dedfe3 32%, #f4f4f6 42%, #c6c7c9 58%, #929491 100%);
		z-index: -3;
	}
	.stand-dn2{
		width: 146px;
		height: 8px;
		position: absolute;
		bottom: -179px;
		border-bottom-right-radius: 150px 50px;
		border-bottom-left-radius: 150px 50px;
		left: 52%;
		margin-left: -.5*150px;
		background-image: repeating-linear-gradient(to right, #777779, #dedfe3 32%, #f4f4f6 42%, #c6c7c9 58%, #929491 100%);
		z-index: -3;
		&:after{
			position: absolute;
			left: 50%;
			margin-left: -.5*130px;
			bottom: 5px;
			content: '';
			width: 130px;
			height: 3px;
			box-shadow: 0px 14px 9px 0px #8a8a89;
			border-radius: 50%;

		}
	}
	.stand-ring{
		width: 190px;
		height: 22px;
		position: absolute;
		bottom: -189px;
		border-radius: 50%;
		left: 50%;
		margin-left: -.5*190px;
		background-image: repeating-linear-gradient(to right, #a5a5a5, #bfbcbc 32%, #d2d2d1 42%, #bfbfbc 58%, #979994  100%);
		z-index: -4;
	}
	.stand-mid{
		width: 190px;
		height: 11px;
		position: absolute;
		bottom: -189px;
		left: 50%;
		margin-left: -.5*190px;
		background-image: repeating-linear-gradient(to right, #777779, #dedfe3 32%, #f4f4f6 42%, #c6c7c9 58%, #929491 100%);
		z-index: -5;

	}
	.stand-btm{
		width: 190px;
		height: 11px;
		position: absolute;
		bottom: -200px;
		left: 50%;
		margin-left: -.5*190px;
		background-image: repeating-linear-gradient(to right, #777779, #dedfe3 32%, #f4f4f6 42%, #c6c7c9 58%, #929491 100%);
		border-bottom-right-radius: 100px 25px;
		border-bottom-left-radius: 100px 25px;
		box-shadow: 0px 4px 3px -3px #3f3f3d;

	}
}

.pp{
 position: absolute;
 top: 0;
 left: 20%;
 // opacity: .5;
 pointer-events: none;
 transform: translateX(-50%);
 z-index: 999;
}
